.custom-menu-lateral {
    background-color: #282726c1;
}

.custom-list-group-item {
    color: #ffffff;
    font-size: 1.4em;
    background-color:#28272600;
}

.custom-list-group-item:hover {
    color: #ffffff;
    font-size: 1.4em;
    background-color: #2827264d;
}

.custom-list-group-item-collapsed {
    font-size: 1.1em;
    color: #ffffff;
    background-color: #28272690;
}

a.custom-nav-link-under {
    color: white;
}
a.custom-nav-link-under:hover {
    color: rgba(255, 255, 255, 0.641);
    text-decoration: none;

}
