.navbar .customHeader, .customHeader-logoff{
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 500;
}

.customHeader-logoff:hover {
    color: #ffffff8d;
    font-size: 1.2em;
    font-weight: 600;
}